<?xml version="1.0"?>
<configuration>
  <startup>
    <!-- IDE собирается под net462, но предполагается что будет работать и под net461 -->
    <!-- net461 это последняя версия для win8 -->
    <!-- для win7 и win8.1 доступны более новые версии net -->
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>

  <System.Windows.Forms.ApplicationConfigurationSection>
    <add key="DpiAwareness" value="PerMonitorV2"/>
    <add key="EnableWindowsFormsHighDpiAutoResizing" value="true"/>
  </System.Windows.Forms.ApplicationConfigurationSection>

  <runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="ICSharpCode.NRefactory" publicKeyToken="EFE927ACF176EEA2" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-4.2.1.8805" newVersion="4.2.1.8805"/>
			</dependentAssembly>
		</assemblyBinding>
		
	</runtime>
</configuration>
